certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
colorama==0.4.6
comtypes==1.4.10
et_xmlfile==2.0.0
idna==3.11
lxml==6.0.2
openpyxl==3.1.5
packaging==26.0
psutil==7.0.0
PyAudio==0.2.14
pycaw==20251023
pycparser==3.0
PyQt6==6.9.0
PyQt6-Qt6==6.9.2
PyQt6_sip==13.11.0
python-docx==1.2.0
pywin32==312
requests==2.32.5
setuptools==82.0.0
SpeechRecognition==3.14.3
srt==3.5.3
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==2.6.3
vosk==0.3.45
websockets==15.0.1
websocket-client==1.9.2
wheel==0.45.1
